@CHARSET "UTF-8";


/*Denne rammen ligger rundt ALT innhold*/
#mainframe{
 	min-height: 720px;		
	min-width: 1300px;
	
	position: absolute; /*Dette er referansepunktet for alt som er inne i denne div'en*/
	top: 0;
	bottom: 0;
	left: 1vw;
	right: 1vw;
	padding: 5px 5px 0 5px;
}

/*Denne rammen ligger rundt alt innhold, men innenfor #mainframe*/
#allcontent{
	width: 1400px;
	display: block;
	margin: auto;
}

/*Her er innholdet i index.php. Altså mellom header og footer*/
#maincontent{
	margin: 5px 0;
	height: 70vh;
/* 	height: 700px; */
	min-height: 500px;
}

header{
	min-height: 100px;
	width: 1400px;
}


#calendar {
	width: 80px;
}

#logo {
	height: 120px;
	width: 133px;
	margin-left: auto;
	margin-right: auto;
}

#logo p {
	color: #c6c6c6;
	font-size: 35px;
	margin-top: -17px;
	margin-bottom: 0px;
}

.fui-home {
	font-size: 50px;
	width: 50px;
	margin-left: 43px;
	color: #35495d;
}

header .fui-user {
	font-size: 20px !important;
	margin-right: 10px !important;
	padding-right: 10px !important;
}

#innloggetKnappeGruppe {
	float: right;
	display: inline-block;
	position: relative;
	top: -95px;
	right: 55px;
}

#calendar {
	display: inline-block;
	float: left;
	position: relative;
	left: 50px;
	top: 20px;
}


#menyBar .btn-group button {
	height: 100px;
	width: 220px;
	font-size: 25px;
	font-weight: bolder;
}

#menyBar {
	height: 100px;
	width: 1350px;
	margin-top: 80px;
}

.caret {
	color: #29bb9c;
}

#menyBar .btn-group {
	margin-left: 50px;
}

#menyBar #meldingerKnapp{
	margin-left: 50px;
	height: 100px;
	width: 200px;
	font-weight: bolder;
	font-size: 25px;
}

header button {
	font-weight: bolder !important;
}

#ediotorBilde {
	width: 1300px;
	display: block;
	margin: auto;
}

.popupBoksWrapper {
	width: 600px;
	display: block;
	margin: auto;
	position: relative;
	z-index: 100;
}

.popupBoksWrapper img {
	width: 100%;
}

.fui-cross {
	display: block;
	position: relative; 
	left: 97%;
	color: red;
	width: 30px;
}

#teppe {
	display: none;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
	position: absolute;
	top: 0;
	z-index: 99;
}

#loginWrapper {
	display: block;
	min-width: 100%;
	min-height: 100%;
	background-color: #34495e;
	position: absolute;
}

#loginInnerWrapper {
	width: 600px;
	height: 256px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}

#loginInnerWrapper form {
	margin-left: 30px;
	width: 400px;
	display: inline-block;
	background-color: #f1f1f1;
	border-radius: 10px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
}

#loginKnapp {
	width: 340px;
	height: 43px;
	display: block;
	margin: auto;
	background-color: #16a086;
}

#loginInnerWrapper form a {
	display: block;
	width: 130px;
	margin: auto;
	font-size: 14px;
	margin-top: 15px;
	color: #bfbfbf;
}

#loginInnerWrapper img {
	display: inline-block;
	width: 120px;
	height: 172px;
	margin-bottom: 270px;
}

